*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====Header====*/

header{
    padding: 0 20px;
    background-color: #10828d;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
}


header a{
    text-decoration: none;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.brand img{
    height: 90px;
    width: auto;
}

.brand h1{
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: "Poiret One";
    margin-left: -15px;
    padding-right: 20px;
}



.navul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    list-style: none;
    gap: 20px 35px;
}

.navul a{
    color: rgba(255, 255, 255, 0.642);
    font-size: 0.9rem;
    transition: ease-in-out 0.3s;
    padding: 5px 5px;
    border: 1px solid #10828d;
}

.navul a:hover{
    border: 1px solid white;
    color: white;
}

/*====Mobile Menu====*/

#burger-nav{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#burger-nav div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    background-color:#10828d;
    width: 200px;
    height: 450px;
}

.mobile-menu{
    display: none;
    position: absolute;
    gap: 37px;
    top: 90px;
    right: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
} 

.mobile-menu li, li a{
    list-style: none;
    color: white;
}


/*====The body====*/

.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 360px;
    margin-top: -290px;
    align-items: center;
}

.mainbody h1{
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.transport{
    display: flex; 
    flex-direction: row;
    margin-top: 130px;
    align-items: center;
    
}

.transporttext{
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
}

.transporttext h3{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -7px;
}

.transporttext hr{
    width: 100%;
    margin-top: 10px;
    background: black;
    height: 1px; 
    border: none;
}

.transporttext p{
    white-space: nowrap;
    margin-top: 10px;
}


.transporttext button{
    margin-top: 200px;
    padding: 10px;
    width: 150px;
    background-color: #fca655;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 0.7em;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.transporttext button a{
    text-decoration: none;
    color: black;
}

.transporttext button:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.transport img{
    height: 400px;
    width: auto;
    padding-left: 10px;
    
}

.montage{
    display: flex; 
    flex-direction: row;
    margin-top: 180px;
    align-items: center;
    
}

.montagetext{
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
}

.montagetext h3{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -7px;
}

.montagetext hr{
    width: 100%;
    margin-top: 10px;
    background: black;
    height: 1px;
    border: none;
}

.montagetext p{
    white-space: nowrap;
    margin-top: 10px;
}


.montagetext button{
    margin-top: 200px;
    padding: 10px;
    width: 150px;
    background-color: #fca655;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 0.7em;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.montagetext button a{
    text-decoration: none;
    color: black;
}

.montagetext button:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.montage img{
    height: 400px;
    width: auto;
    padding-left: 10px;
}

.kmontage{
    display: flex; 
    flex-direction: row;
    margin-top: 180px;
    align-items: center;
    
}

.kmontagetext{
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
}

.kmontagetext h3{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -7px;
}

.kmontagetext hr{
    width: 100%;
    margin-top: 10px;
    background: black;
    height: 1px;
    border: none;
}

.kmontagetext p{
    white-space: nowrap;
    margin-top: 10px;
}


.kmontagetext button{
    margin-top: 200px;
    padding: 10px;
    width: 150px;
    background-color: #fca655;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 0.7em;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.kmontagetext button a{
    text-decoration: none;
    color: black;
}

.kmontagetext button:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.kmontage img{
    height: 400px;
    width: auto;
    padding-left: 10px;
}

.entrümpelung{
    display: flex; 
    flex-direction: row;
    margin-top: 180px;
    align-items: center;
    
}

.entrümpelungtext{
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
}

.entrümpelungtext h3{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -7px;
}

.entrümpelungtext hr{
    width: 100%;
    margin-top: 10px;
    background: black;
    height: 1px;
    border: none;
}

.entrümpelungtext p{
    white-space: nowrap;
    margin-top: 10px;
}


.entrümpelungtext button{
    margin-top: 200px;
    padding: 10px;
    width: 150px;
    background-color: #fca655;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 0.7em;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.entrümpelungtext button a{
    text-decoration: none;
    color: black;
}

.entrümpelungtext button:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.entrümpelung img{
    height: 400px;
    width: auto;
    padding-left: 10px;
}

.überuns{
    display: flex; 
    flex-direction: row;
    margin-top: 180px;
    align-items: center;
    
}

.überunstext{
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
}

.überunstext h3{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -7px;
}

.überunstext hr{
    width: 100%;
    margin-top: 10px;
    background: black;
    height: 1px;
    border: none;
}

.überunstext p{
    white-space: nowrap;
    margin-top: 10px;
}


.überunstext button{
    margin-top: 200px;
    padding: 10px;
    width: 150px;
    background-color: #fca655;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 0.7em;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.überunstext button a{
    text-decoration: none;
    color: black;
}

.überunstext button:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.überuns img{
    height: 400px;
    width: auto;
    padding-left: 10px;
}

/*====Footer====*/

#bottomnavbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 180px;
    background-color: rgb(194, 194, 194);
    margin-top: -70px;
    padding: 0 360px;
    gap: 300px;
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: -100px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline 1px white;
}

.icons{
    display: flex;
    margin-top: 20px;
    gap: 5px;

}

.icons img{
    height: 40px;
    width: auto;
}

.icons a{
    transition: ease-in-out 0.3s;
}

.icons a:hover{
    transform: scale(1.1);
}

/*====Media Queries====*/


@media screen and (max-width: 365px){
    br{
        display: none;
    }

    header{
        height: 70px;
    }

    .brand{
        flex-direction: column;
        margin-left: -10px;
    }

    .brand img{
        height: 35px;
        margin-left: -120px;
    }

    .brand h1{
        font-size: 1.3rem;
        margin-left: 0px;
        margin-top: -7px;
    }

    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }

    .mobile-menu{
        top: 65px;
    }

    .mainbody{
        padding: 40px;
        margin-top: -30px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
        margin-top: 40px;
        font-size: 2em;
    }

    .mainbody h3{
        white-space: normal;
        font-size: 1.4em;
        margin-top: 40px;
    }

    .mainbody p{
        white-space: normal;
        font-size: 0.9em;
    }

    .mainbody button{
        margin-top: 10px;
        height: 40px;
        width: 100%;
        font-size: 0.8em;
    }

    .mainbody img{
        margin-top: 10px;
        float: center;
        height: 300px;
        width: auto;

    }

    .transport{
        flex-direction: column;
        margin-top: 30px;
    }

    .montage{
        flex-direction: column;
        margin-top: 30px;
    }
    
    .überuns{
        flex-direction: column;
        margin-top: 30px;
    }

    #bottomnavbar{
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    .links{
        margin-left: 0px;
    }
}

@media screen and (min-width: 366px) and (max-width: 520px){
    br{
        display: none;
    }

    header{
        height: 70px;
    }

    .brand{
        margin-left: -20px;
    }

    .brand img{
        height: 50px;
    }

    .brand h1{
        margin-left: -15px;
        font-size: 1.3rem;
    }

    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }

    .mobile-menu{
        top: 65px;
    }

    .mainbody{
        padding: 40px;
        margin-top: -30px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
        margin-top: 40px;
        font-size: 2em;
    }

    .mainbody h3{
        white-space: normal;
        font-size: 1.4em;
        margin-top: 40px;
    }

    .mainbody p{
        white-space: normal;
        font-size: 0.9em;
    }

    .mainbody button{
        margin-top: 10px;
        height: 40px;
        width: 100%;
        font-size: 0.8em;
    }

    .mainbody img{
        margin-top: 10px;
        float: center;
        height: 300px;
        width: auto;

    }

    .transport{
        flex-direction: column;
        margin-top: 30px;
    }

    .montage{
        flex-direction: column;
        margin-top: 30px;
    }
    
    .überuns{
        flex-direction: column;
        margin-top: 30px;
    }

    #bottomnavbar{
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    .links{
        margin-left: 0px;
    }
}

@media screen and (min-width: 521px) and (max-width:630px){
    br{
        display: none;
    }

    header{
        height: 70px;
    }

    .brand{
        margin-left: -20px;
    }

    .brand img{
        height: 80px;
    }

    .brand h1{
        margin-left: -20px;
        font-size: 1.8rem;
    }

    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }

    .mobile-menu{
        top: 65px;
    }

    .mainbody{
        padding: 40px;
        margin-top: -30px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
        margin-top: 40px;
        font-size: 2.5em;
    }

    .mainbody h3{
        white-space: normal;
        font-size: 1.6em;
        margin-top: 40px;
    }

    .mainbody p{
        white-space: normal;
    }

    .mainbody button{
        margin-top: 10px;
        height: 50px;
        width: 100%;
        font-size: 0.9em;
    }

    .mainbody img{
        margin-top: 10px;
        float: center;

    }

    .transport{
        flex-direction: column;
        margin-top: 70px;
    }

    .montage{
        flex-direction: column;
        margin-top: 50px;
    }
    
    .überuns{
        flex-direction: column;
        margin-top: 50px;
    }

    #bottomnavbar{
        gap: 80px;
        padding: 0 20px;
    }

    .links{
        margin-left: 0px;
    }
}

@media screen and (min-width:631px) and (max-width: 767px){
    br{
        display: none;
    }

    .brand{
        margin-left: -20px;
    }

    .brand img{
        height: 80px;
    }

    .brand h1{
        margin-left: -20px;
        font-size: 1.8rem;
    }

    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }

    .mainbody{
        padding: 40px;
        margin-top: -30px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
        margin-top: 40px;
    }

    .mainbody h3{
        white-space: normal;
    }

    .mainbody hr{
    }

    .mainbody p{
        white-space: normal;
    }

    .mainbody button{
        margin-top: 10px;
    }

    .mainbody img{
        margin-top: -34px;
        margin-left: auto;
    }

    .transport{
        flex-direction: column;
        margin-top: 120px;
    }

    .montage{
        flex-direction: column;
        margin-top: 30px;
    }
    
    .überuns{
        flex-direction: column;
        margin-top: 30px;
    }

    #bottomnavbar{
        gap: 100px;
        padding: 0 20px;
    }

    .links{
        margin-left: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 910px){
    
    br{
        display: none;
    }

    .brand{
        margin-left: -20px;
    }

    .brand img{
        height: 80px;
    }

    .brand h1{
        margin-left: -20px;
        font-size: 1.8rem;
    }

    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }

    .mainbody{
        padding: 40px;
        margin-top: -10px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
        margin-top: 40px;
    }

    .mainbody h3{
        white-space: normal;
    }

    .mainbody hr{
    }

    .mainbody p{
        white-space: normal;
    }

    .mainbody button{
        margin-top: 103px;
    }

    #bottomnavbar{
        gap: 200px;
    }

    .links{
        margin-left: 0px;
    }
}

@media screen and (min-width:911px) and (max-width:1024px){
    br{
        display: none;
    }

    .brand{
        margin-left: -20px;
    }

    .brand img{
        height: 80px;
    }

    .brand h1{
        margin-left: -20px;
        font-size: 1.8rem;
    }

    .navul{
        gap: 10px 0;
    }

    .navul a{
        font-size: 0.7rem;
    }

    .mainbody{
        padding: 60px;
        margin-top: -10px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        white-space: normal;
    }

    .mainbody h3{
        white-space: normal;
        margin-top: -10px;
    }

    .mainbody p{
        white-space: normal;
    }

    .mainbody button{
        margin-top: 153px;
    }

    
}

@media screen and (min-width:1025px) and (max-width:1229px){
    br{
        display: none;
    }

    .brand{
        margin-left: -10px;
    }

    .brand img{
        height: 80px;
    }

    .brand h1{
        margin-left: -20px;
        font-size: 1.9rem;
    }

    .navul{
        gap: 15px;
    }

    .navul a{
        font-size: 0.8rem;
    }

    .mainbody{
        padding: 60px;
        margin-top: 60px;
        margin-bottom: 200px;
    }

    .mainbody h1{
        margin-right: 60px;
        margin-left: 60px;
        white-space: normal;
    }

    .mainbody button{
        margin-top: 170px;
    }

    .mainbody p{
        white-space: normal;
    }
}

