body{
    margin: 0px;
    padding: 0px;
}

/*====Header====*/

header{
    padding: 0 20px;
    background-color: #10828d;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
}

header a{
    text-decoration: none;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.brand img{
    height: 90px;
    width: auto;
}

.brand h1{
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: "Poiret One";
    margin-left: -15px;
}

.navul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    list-style: none;
    gap: 20px 35px;
}

.navul a{
    color: rgba(255, 255, 255, 0.642);
    font-size: 0.9rem;
    transition: ease-in-out 0.3s;
    padding:  5px 10px;
    border: 1px solid #10828d;
}

.navul a:hover{
    border: 1px solid white;
    color: white;
}

/*====Mobile Menu====*/

#burger-nav{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#burger-nav div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    background-color:#10828d;
    width: 200px;
    height: 450px;
}

.mobile-menu{
    display: none;
    position: absolute;
    gap: 37px;
    top: 80px;
    right: 0px;
    width: 100%;
    padding-bottom: 20px;
}

.mobile-menu li, li a{
    list-style: none;
    color: white;
}

/*====Main Body====*/

.mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px;
    margin-top: -260px;
}

.mainbody h1{
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 2.9em;
    text-transform: uppercase;
}

.mainbody hr{
    margin-top: -10px;
    background: black;
    height: 1px;
    border: none;
    width: 600px;
}

.mainbody p{
    font-family: "Montserrat";
    margin-top: 60px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
    white-space: nowrap;
}

.mainbody img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
}

#bottomnavbar{
    display: flex;
    justify-content: center;
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 180px;
    gap: 300px;
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline white 1px;
}

.icons{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.icons img{
    height: 40px;
    width: auto;
}

.icons a{
    transition: ease-in-out 0.3s;
}

.icons a:hover{
    transform: scale(1.1);
}

/*====Media Queries====*/

@media screen and (max-width: 910px){
    header nav{
        display: none;
    }

    #burger-nav{
        display: block;
    }
}

@media screen and (max-width: 390px){
    br{
        display: none;
    }
    
    header{
        height: 70px;
    }
    
    .brand{
        margin-left: -17px;
    }
        
    .brand img{
        height: 40px;
    }
        
    .brand h1{
        font-size: 1.3rem;
    }
    
    .mobile-menu{
        top: 50px;
    }
        
    .mainbody{
        padding: 20px;
        margin-top: -20px;
    }
    
    .mainbody h1{
        font-size: 2.3em;
    }
    
    .mainbody hr{
        width: 100%;
    }
        
    .mainbody p{
        white-space: normal;
        font-size: 0.8em;
        margin-top: 30px;
    }
    
    .mainbody img{
        height: 300px;
        width: 300px;
        margin-top: 40px;
    }
        
    #bottomnavbar{
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }

    .links{
        margin-left: 10px;
    }

    .icons{
        margin-left: 10px;
    }
}


@media screen and (min-width: 391px) and (max-width: 478px){
    br{
    display: none;
    }

    header{
    height: 70px;
    }

    .brand{
        margin-left: -15px;
    }
    
    .brand img{
        height: 45px;
    }
    
    .brand h1{
        font-size: 1.5rem;
    }

    .mobile-menu{
    top: 50px;
    }
    
    .mainbody{
    padding: 20px;
    margin-top: -20px;
    }

    .mainbody h1{
    font-size: 2.5em;
    }

    .mainbody hr{
    width: 100%;
    }
    
    .mainbody p{
    white-space: normal;
    font-size: 0.8em;
    margin-top: 30px;
        }

    .mainbody img{
    height: 300px;
    width: 300px;
    margin-top: 40px;
    }
    
    #bottomnavbar{
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }

    .links{
        margin-left: 10px;
    }

    .icons{
        margin-left: 10px;
    }
}



@media screen and (min-width: 479px) and (max-width: 680px){
    br{
    display: none;
    }

    header{
    height: 80px;
    }

    .brand{
        margin-left: -10px;
    }
    
    .brand img{
        height: 50px;
    }
    
    .brand h1{
        font-size: 1.6rem;
    }

    .mobile-menu{
    top: 60px;
    }
    
    .mainbody{
    padding: 40px;
    margin-top: -40px;
    }

    .mainbody h1{
    font-size: 2.7em;
    }

    .mainbody hr{
    width: 100%;
    }
    
    .mainbody p{
    white-space: normal;
    font-size: 0.9em;
    margin-top: 30px;
    }

    .mainbody img{
    height: 400px;
    width: 400px;
    margin-top: 40px;
    }
    
    #bottomnavbar{
        margin-top: 30px;
        gap: 50px;
    }
}

@media screen and (min-width: 681px) and (max-width: 1024px){
    br{
        display: none;
    }

    .brand{
        margin-left: 0px;
    }
    
    .brand img{
        height: 60px;
    }
    
    .brand h1{
        font-size: 1.8rem;
    }
    
    .navul{
        gap: 10px 0px;
        padding-left: 10px;
        margin-right: -18px;
    }

    .navul a{
        font-size: 0.8rem;
    }
    
    .mainbody{
        padding: 70px;
        margin-top: -30px;
    }
    
    .mainbody hr{
        width: 100%;
    }
    
    .mainbody p{
        white-space: normal;
    
    }
    
    #bottomnavbar{
        margin-top: 30px;
        gap: 150px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px){
    br{
    display: none;
    }

    .brand img{
        height: 70px;
    }

    .brand h1{
        font-size: 2rem;
    }

    .navul{
        gap: 10px 8px;
        padding-left: 10px;
    }

    .navul a{
        font-size: 0.8rem;
    }

    .mainbody{
        padding: 70px;
        margin-top: -30px;
    }

    .mainbody hr{
        width: 100%;
    }

    .mainbody p{
        white-space: normal;

    }

    #bottomnavbar{
        margin-top: 30px;
    }
}